@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/ibm-plex-serif/400.css";
@import "@fontsource/ibm-plex-serif/600.css";
@import "@fontsource/ibm-plex-sans/400.css";
@import "@fontsource/ibm-plex-sans/500.css";
html {
  scroll-behavior: smooth;
}